.assistantCard:hover {
    -fx-translate-y: -80;
}

.readyCheckbox:selected .box {
    -fx-background-color: green;
}

.readyCheckbox:selected .mark {
    -fx-background-color: white;
}

.towerOption:disabled {
    -fx-opacity: 50%;
}

.usernameText:disabled {
    -fx-strikethrough: true;
}

.cloud:disabled {
    -fx-opacity: 0.6;
}

.characterCard:disabled {
    -fx-opacity: 0.6;
}