.assistantCard:hover {
    -fx-translate-y: -80;
}

.readyCheckbox:selected .box {
    -fx-background-color: green;
}

.readyCheckbox:selected .mark {
    -fx-background-color: white;
}

.towerOption:disabled,
.cloud:disabled,
.characterCard:disabled,
.def:disabled {
    -fx-opacity: 0.6;
}

.usernameText:disabled .text {
    -fx-strikethrough: true;
}

.target {
    -fx-border-color: yellow;
}

.def {
    -fx-border-color: transparent;
}
